* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
   background-color: rgb(255, 179, 0);
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 247, 100);

p, label {
    color: rgb(255, 225, 0);
 }
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
  background-color: azure;
    color: rgb(0, 0, 0);
    height: 160px;
    padding: 20px;
}

.cabecalho h3 {
    color: rgb(236, 223, 158);
    margin-top: 0;
}

.form-container {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}


.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #eee5e5;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.form-body {
    padding: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: crimson;
}

.caixaInputs {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.caixaOpcional {
    display: inline-block;
    margin: 0 30px 0 30px;
}

.caixaOpicional li {
    list-style: none;
    margin-bottom: 5px;
}

.btn-submit {
    background-color: rgb(226, 205, 43);
    color: #ccc;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 251, 0);
    border-color: rgb(242, 242, 242);
}

hr {
    margin-bottom: 20px;
    color: #fff45a;
    border: 2px solid;
    height: 3px;
    background: linear-gradient(to right, transparent, #355977, transparent);
    margin: 20px 0;
}

#listaCarros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    background-color: rgb(204, 178, 50);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgb(5, 5, 5);
}

.card img {
    width: 100%;
    border-radius: 5px;
}